/* This is a code that changes background color */
body{
  background-color: MediumSeaGreen;
}

/* This is a code that changes text font */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* This is a code that changes color, font and hover for the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #MediumSeaGreen;
text-align: center;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #MediumSeaGreen;
  color: grey;
}

.topnav a.active {
  background-color: #MediumSeaGreen;
  color: white;
}

/* This is a code that changes the position and font of the titles */

h1{
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-family: sans-serif;
  margin: 150;
  padding: 150;
}

h2{  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-family: sans-serif;
  margin: 150;
  padding: 150;}


h3{ text-align: center;
    font-size: 25px;
    font-style: normal;
    font-family: sans-serif;
  margin-right: 17%;}

h4{ text-align: center;
      font-size: 25px;
      font-style: normal;
      font-family: sans-serif;
    margin-right: 18%;
  }

/* This is a code that changes the position and font of the paragraphs */

p{
  text-align: justify;
  font-size: 35px;
  font-style: normal;
  font-family: sans-serif;
  margin: 150;
  padding: 150;
}

/* This is a code that changes the position and size of the images */

img{
position: relative;
float: left;
size: 100%;
padding: 25px;
margin: 25px;
height: 150px;
vertical-align: middle;
}

/* This is a code that changes the position and font of the paragraphs */

p1{  text-align: justify;
  position: relative;
  font-size: 30px;
  font-style: normal;
  font-family: sans-serif;
float: right
padding-right: 0px;
padding-left: 10px;
vertical-align: middle;
display: inline;
border: 5px MediumSeaGreen solid;
line-height: 1.8;
}

p2{  text-align: justify;
  position: relative;
  font-size: 30px;
  font-style: normal;
  font-family: sans-serif;
float: right
margin:0px;
padding-right: 0px;
padding-left: 10px;
vertical-align: middle;
display: inline;
line-height: 1.8;
}

/* This is a code that changes the position and size of the video */

video{
float: left;
margin-left: 30%;
}

/* This is a code that changes the position of the audio */

audio{
  float: right;
}

/* This is a code that changes the position and font of the footer */

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: MediumSeaGreen;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
